body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color:#F1F1F1;
    background-color: #0F0F0F;
    font-family: 'YouTube Sans', sans-serif;
    overflow-x: hidden;
}
h1 {
    font-size:calc(2vh + 2vw);
}
h2 {
    font-size:calc(2vh + 1vw);
}
p {
    color:#999999;
}
#circle {
    border-radius: 50%;
    height:25vh;
    width:20vh;
    border: 10px solid red;
    background-color: transparent;
    position:absolute;
    top:5vh;
    z-index: 10;
}

#arrow1, #arrow2 {
    position: fixed;
    width: 10vh;
    height: 15vh;
    z-index: 9;
}



header {
    background-color: #0F0F0F;
    text-align: center;
    margin-top: 2vh;
}
.scrolling-background {
  position: relative;
  width: 100%;
  height: 200px; /* Adjust as needed */
  overflow: hidden;
}

  
  .scrolling-background {
    position: relative;
    width: 100%;
    height: 28vh; /* Adjust as needed */
    overflow: hidden;
  }
  
  .scrolling-image {
    position: absolute;
    top: 0;
    right: 0; /* Changed from left: 0 to right: 0 */
    width: 200%;
    height: 100%;
    background-image: url('img/kupbanner.jpg');
    background-repeat: repeat-x;
    background-size: 50% 100%;
    animation: scroll-background 30s linear infinite;
  }
  
  @keyframes scroll-background {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%); /* Changed from -50% to 50% */
    }
  }
  
header h1 {
    margin: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    background-color: #0F0F0F;
    height:100%;
}
.title-section {    
    height:2vh;
}
#kuplahead {
    border-radius: 100px;
    position: relative;
    top: -12vh;
    left: 1vw;
    z-index: 11;
    transition: opacity 0.3s;
    height: 23vh;
    transform: rotate(15deg);
}

#kuplahead:hover {
    opacity: 0.5;
}

#featured-video {
    height:60vh;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top:3vh;
}
.lastvideo {
    position: absolute;
    right:-3vw;
    top:52vh;
    width:20vw;
    height:11vh;
}
.intro-text{
    position: relative;
    left:2vw;
}
.title {
    font-size:calc(2vh + 2vw);
    margin-bottom: 0;
    margin-top:8vh;
}
.title-description{
    color:#999999;
    margin-top:0;
    font-size: calc(0.8vh + 0.8vw);
}
nav {
    margin-top:7vh;
}
.navitem {
    margin-top:3vh;
    font-size: calc(0.8vh + 0.8vw);
}
.navitem a {
    margin-left:0.7vw;
    color:#999999;
    margin-bottom:10vh;
}
#latest-video {
    width:53vw;
    height: 28vh;
    position: relative;
    right:3vw;
    background-color: black;
  }
#history{
    display: flex;
    margin-top:10vh;
}
.history-illustration {
    height:70vh;
    margin-left: 2vw;
    position: relative;
    top:-5vh;
}